@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --background-color: #0f0f0f;
    --text-color: #ffffff;
    --btn-bg: #333;
    --btn-text: #fff;
}

.light-mode {
    --background-color: #e0e0e0;
    --text-color: #1a1a1a;
    --btn-bg: #ddd;
    --btn-text: #000;
}

body
{
    font-family: "Noto Sans", serif;
    background: var(--background-color);
    color: var(--text-color);
}

h1,h2,h3,h4,h5,h6,code,hr, p,i,li,a, button {
    color: var(--text-color);
}

button {
    background: var(--btn-bg);
    color: var(--btn-text);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    opacity: 0.8;
}

.nav-p
{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-size: 0.8rem;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.ordinary-p
{
    font-family: "Noto Sans", serif;
    font-size: 1rem;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.article-p
{
    font-family: "Noto Sans", serif;
    font-size: 1.17rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    line-height: 1.6;
    letter-spacing: 1.2px;
    word-wrap: break-word;
    overflow: hidden;
    width: 90%;
}

.bg-heading
{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-size: 7rem;
    line-height: 2.5rem;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.heading-1
{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.heading-m
{
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

i:hover
{
    color: #00ffab;
}