<header>
    <div class="container">
        <div class="container-center">
            <div class="about-me">
                <h2>About me</h2>
                <p class="ordinary-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium suscipit vero eligendi, nihil quasi rerum impedit et consequuntur amet eaque dolor ex. Quisquam quasi, magni reiciendis porro facilis pariatur totam.</p>
            </div>
            <div class="img-content">
                <img src="{{ absURL `img/me.jpeg` }}" alt="Ali Mashally">
                <p>Ali Mashally</p>
            </div>
            <div class="social">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</header>