<header>
    <a href="{{ .Site.Home.RelPermalink }}" class="back-link">
        <i class="fa-solid fa-arrow-left"></i>
        <span>
            {{ if eq .Site.Language.Lang "ar" }}
            العودة للرئيسية
            {{ else }}
            Back to home
            {{ end }}
        </span>
    </a>
    
    {{- partial "language-switcher.html" . -}}
    
    <div class="container">
        <h1 class="bg-heading">{{ .Title }}</h1>
        {{ if .Description }}
        <p class="subtitle">{{ .Description }}</p>
        {{ end }}
    </div>
    <hr class="line">
</header>