{{ $menuItems := .menuItems }}
{{ $level := .level }}
{{ $site := .site }}

{{ if $menuItems }}
<ul class="menu-list level-{{ $level }}" {{ if gt $level 0 }}style="display: none;"{{ end }}>
    {{ range $menuItems }}
        {{ $hasChildren := false }}
        {{ $childrenKey := printf "%s_children" .Identifier }}
        {{ if index $site.Menus $childrenKey }}
            {{ $hasChildren = true }}
        {{ end }}
        
        <li class="menu-item {{ if $hasChildren }}has-children{{ end }}" data-level="{{ $level }}">
            <div class="menu-item-content">
                {{ if $hasChildren }}
                <button class="menu-toggle" aria-expanded="false" aria-label="Toggle submenu">
                    <i class="fas fa-folder menu-icon"></i>
                    <i class="fas fa-chevron-right toggle-icon"></i>
                </button>
                {{ else }}
                <i class="fas fa-file menu-icon"></i>
                {{ end }}
                
                <a href="{{ .URL | relLangURL }}" class="menu-link {{ if $.IsMenuCurrent "main" . }}active{{ end }}">
                    {{ .Name }}
                </a>
            </div>
            
            {{ if $hasChildren }}
                {{ $childMenu := index $site.Menus $childrenKey }}
                {{ partial "render-menu-tree" (dict "menuItems" $childMenu "level" (add $level 1) "site" $site) }}
            {{ end }}
        </li>
    {{ end }}
</ul>
{{ end }}